#greycol {
    color: grey;
}

.yellow {
    color: yellow;
}

.text-box div :only-child {
    color: red;
}

.text-box :first-child {
    color: pink;
}

div+h3+p {
    color: green;
}

table :last-child {
    background-color: blue;
}

table :first-child {
    background-color: red;
}

table :nth-child(2) {
    background-color: bisque;
}

table :nth-child(3) {
    background-color: aqua;
}

table :nth-child(4) {
    background-color: wheat;
}

thead :hover {
    background-color: brown;
    color: white;
}

table tbody :hover {
    background-color: brown;
    color: white;
}